/node_modules
database.sqlite
database.sqlite-journal
bookings.sqlite
config.ts
server/googlejwt.json
npm-debug.log
.eslintrc.json
sqlite3.exe
npm-debug*
sessions.db
sessions
public/bundle.js
public/bundle.js.map
public/vendor.bundle.js
public/vendor.bundle.js.map
.idea*
/server_built