version: "3"
services:
  bookings:
    build:
      context: .
      dockerfile: dockerfile
      args:
        - bookings_vault_url
        - bookings_vault_token
        - bookings_env
        - bookings_role_id
    ports:
      - 8080:8080
    environment:
      - bookings_vault_token
      - bookings_env
      - bookings_role_id
      - bookings_vault_url