version: "3"
services:
  bookings:
    restart: always
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - 8080:8080
    environment:
      - BOOKINGS_VAULT_URL
    depends_on:
      - db
  db:
    image: postgres
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
          - 8001:5432
volumes:
     pgdata:

